{{ define "archive" }}
<section class="intro relative">
    <img src="/images/tabletop.webp" alt="Tabletop gaming" class="bg-image" />
    <div class="overlay"></div>

    <div class="intro__content">
        <h1>My miniatures.</h1>

        <div class="intro__section">
            <p>One of my major hobbies is painting miniatures - Warhammer, board game minis, Dungeons & Dragons minis, and so forth.</p>
            <p>For 2024, I set myself a challenge - to paint 80 minis throughout the course of the year. Here, you can track and follow my progress.</p>
        </div>

        <div class="intro__section">
            <p>Scroll down to see my miniatures.</p>
        </div>
    </div>
</section>
{{ end }}