{{ define "body" }}
    <main class="mini container">
        {{ range .Mini }}
            {{ range .Data }}
                {{ range .Attributes.Content }}
                    {{ if eq .Type "paragraph" }}
                        {{ range .Children }}
                            <p>{{ .Text }}</p>
                        {{ end }}
                    {{ end }}

                    {{ if eq .Type "image" }}
                        <picture class="mini__in-content-image">
                            <source media="(min-width: 1200px)" srcset="{{ .Image.URL }}" />
                            <img src="/cms/images{{ .Image.Formats.Small.URL }}" alt="{{ .Image.AlternativeText }}" />
                        </picture>
                    {{ end }}
                {{ end }}

                <div class="mini__gallery">
                    {{ range .Attributes.Gallery.Data }}
                        <a href="/cms/images{{ .Attributes.URL }}">
                            <picture class="mini__gallery-image">
                                <source media="(min-width: 1200px)" srcset="/cms/images{{ .Attributes.Formats.Medium.URL }}" />
                                <img src="/cms/images{{ .Attributes.Formats.Small.URL }}" alt="{{ .Attributes.AlternativeText }}" />
                            </picture>
                        </a>
                    {{ end }}
                </div>
            {{ end }}
        {{ end }}
    </main>
{{ end }}